<!DOCTYPE html>
<html>
	{% include "head.html" %}

	<body>
		{% include "nav.html" %}
		<form id="form">
			<div class="form-group">
				<label for="limitResult">Limit Results</label>
				<input type="text" class="form-control" id="limitResult" placeholder="100" value="100">
			</div>
			<select id="category" class="form-control">
				<option value="reference">References</option>
				<option value="author">Authors</option>
				<option value="institute">Institute</option>
			</select>
			<select id="analysis" class="form-control">
				<option value="top">Top</option>
			</select>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
		<div class="spin" data-spin></div>
		<svg id="viz"></svg>
	</body>
	<script src="/static/analytics.js"></script>
</html>
