<!DOCTYPE html>
<html>
	<head>
		<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="//d3js.org/d3.v3.min.js"></script>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<style>

	.node {
	  stroke: #fff;
	  stroke-width: 1.5px;
	}

	.link {
	  stroke: #999;
	  stroke-opacity: .6;
	}

	</style>
	<body>
		<form id="form">
			<div class="form-group">
				<label for="limitResult">Limit Results</label>
				<input type="text" class="form-control" id="limitResult" placeholder="100" value="100">
			</div>
			<select id="category" class="form-control">
				<option value="papers">Papers</option>
			</select>
			<select id="analysis" class="form-control">
				<option value="cluster">Cluster</option>
			</select>
			<button type="submit" class="btn btn-success">Submit</button>
		</form>
		<svg id="graph"><!-- D3 JS Graph Goes Here --></svg>
	</body>
<script src="/static/graph.js"></script>
</html>
