<html>
  <head>
    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="list-group">
      <a href="#" class="list-group-item active">
        Questions
      </a>
      <a href="/top_authors_chart" class="list-group-item">Who are the top authors?</a></li>
      <a href="/institutes_published_most_chart" class="list-group-item">What institutes publish the most?</a></li>
      <a href="/top_authors_within_top_institutes_chart" class="list-group-item">What are the top authors within the top institute?</a></li>
    </div>
  </body>
</html>